.about-kittysoloma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}

.about-kittysoloma__logo a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.about-kittysoloma__logo img {
  width: 100%;
}

.about-kittysoloma__textable-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 760px;
  font-size: 16px;
  line-height: 22px;
}

.about-kittysoloma__social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.about-kittysoloma__social-media a {
  scale: 1.5;
  opacity: 0.5;
}

.about-kittysoloma__social-media .twitter-link {
  scale: 1.7;
}

.about-kittysoloma__social-media .clixby-link {
  margin-top: 4px;
  scale: unset;
}

.about-kittysoloma__social-media .clixby-icon {
  width: 80px;
  height: 18px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}