:root {
  --main-bg-color: #C0E8C4;
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --max-width-px: 1440px;
  --default-block-padding: 48px;
  --default-content-padding: 48px;
  --default-block-margin-top: 40px;
  --default-block-description-line-height: 24px;

  --breakpoint-start-small: 320px;
  --breakpoint-start-medium: 480px;
  --breakpoint-start-large: 768px;
  --breakpoint-start-xlarge: 1440px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  font-family: 'Qanelas', sans-serif;
  font-weight: 500;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
}

.main {
  max-width: var(--max-width-px);
  margin: 0 auto;
}

.block-wrapper {
  margin-top: var(--default-block-margin-top);
  padding: 0 var(--default-block-padding);
}

.content-block {
  background-color: var(--main-white-color);
  border-radius: 50px;
  padding: var(--default-content-padding);
}

.content-block-heading {
  font-size: 48px;
  line-height: 58px;
  padding: 0 0 calc(var(--default-content-padding) / 2)
    var(--default-content-padding);
}

@media screen and (max-width: 767px) {
  .block-wrapper {
    padding: 0 calc(var(--default-block-padding) / 2);
  }
}

@media screen and (max-width: 479px) {
  .block-wrapper {
    padding: 0 calc(var(--default-block-padding) / 4);
  }

  .content-block {
    border-radius: 30px;
    padding: calc(var(--default-content-padding) / 2);
  }

  .content-block-heading {
    font-size: 40px;
    line-height: 40px;
    padding: 0 0 calc(var(--default-content-padding) / 4) calc(var(--default-content-padding) / 2);
  }
}

.bold {
  font-weight: 600;
}
