.footer {
  max-width: var(--max-width-px);
  margin: 40px auto;
}

.footer .content-block {
  padding: calc(var(--default-content-padding) / 2) var(--default-content-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer .kittysoloma-footer__logo {
  width: 140px;
}

.footer .usaid-footer__logo {
  width: 140px;
}

.footer .kittysoloma-footer__logo img {
  width: 100%;
}

.footer .usaid-footer__logo img {
  width: 100%;
}

.footer .footer__menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 16px;
  line-height: 19px;
}

.footer .footer__menu a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer .content-block {
    padding: calc(var(--default-content-padding) / 2) calc(var(--default-content-padding) / 2);
  }

  .footer .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 479px) {
  .footer .content-block {
    padding: calc(var(--default-content-padding) / 4) calc(var(--default-content-padding) / 2);
    padding-left: 8px;
  }

  .footer .kittysoloma-footer__logo {
    width: 100px;
  }
  
  .footer .usaid-footer__logo {
    width: 100px;
  }

  .footer .left-side {
    margin: 0 auto;
    gap: 30px;
  }

  .footer .footer__menu {
    display: none;
    /* display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    line-height: 16px; */
  }
}
