.nashi-teplytsi-block__slider .slide-heading {
  font-size: 36px;
  line-height: 43px;
}

.nashi-teplytsi-block__slider .slide-textable-area {
  width: fit-content;
}

.nashi-teplytsi-block__slider .slide-textable-area__address {
  margin-top: 32px;
  width: 250px;
  display: flex;
  gap: 20px;
}

.nashi-teplytsi-block__slider .slide-textable-area__address img {
  width: 24px;
  height: 24px;
}

.nashi-teplytsi-block__slider .slide-textable-area__address span {
  font-size: 16px;
  line-height: 22px;
}

.nashi-teplytsi-block__navigation-arrow-left,
.nashi-teplytsi-block__navigation-arrow-right {
  all: unset;
  box-sizing: border-box;
  background: #FFD2FD;
  border: 1px solid #B974B4;
  border-radius: 50px;
  width: 16%;
  min-width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.nashi-teplytsi-block__navigation-arrow-left {
  right: 0;
  bottom: 0;
  transform: translate(-110%, calc(100% - 18px));
}

.nashi-teplytsi-block__navigation-arrow-right {
  right: 0;
  bottom: 0;
  transform: translate(0, calc(100% - 18px));
}

.nashi-teplytsi-block__slider .slide-image {
  margin-top: 16px;
  margin-bottom: 36px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  max-height: min(calc(100vh - 290px), 660px);
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .nashi-teplytsi-block .content-block {
    padding: 36px 36px;
  }

  .nashi-teplytsi-block__navigation-arrow-left,
  .nashi-teplytsi-block__navigation-arrow-right {
    height: 40px;
  }
}

@media screen and (max-width: 479px) {
  .nashi-teplytsi-block .content-block {
    border-radius: 30px;
    padding: calc(var(--default-content-padding) / 4);
  }

  .nashi-teplytsi-block__slider .slide-heading {
    font-size: 28px;
    line-height: 36px;
  }

  .nashi-teplytsi-block__slider .slide-image {
    margin-top: 8px;
    margin-bottom: 60px;
    border-radius: 20px;
  }

  .nashi-teplytsi-block__navigation-arrow-left,
  .nashi-teplytsi-block__navigation-arrow-right {
    min-width: unset;
    width: 100px;
  }

  .nashi-teplytsi-block__navigation-arrow-left {
    left: 0;
    bottom: 0;
    transform: translate(0, calc(100% - 42px));
  }
  
  .nashi-teplytsi-block__navigation-arrow-right {
    right: 0;
    bottom: 0;
    transform: translate(0, calc(100% - 42px));
  }
}